body {
    background-color: #1c1c1c;
}

.container {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-gap: 10px;
    align-items: center;
    justify-content: center;
}

#card {
    display: grid;
    grid-column: 1 / -1;
    background-color: bisque;
    border-radius: 9pt;
    font-family: verdana;
    font-size: 54px;
    margin: 25px;
    height: 200px;
    outline: outset 3px black;
    align-items: center;
    justify-content: center;
    text-align: center;

    color: #fc9403;
}

#prev {
    grid-column-start: 1;
    grid-column-end: 2;
}

#next {
    grid-column-start: 2;
    grid-column-end: 4;
}